@mixin tap-size {
  min-width: 3em;
  min-height: 3em;
}

@mixin badge-icon($icon){
// TODO media queries for double resolution???
  width: 15px;
  height: 15px;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: inline-image($icon);
}

@mixin ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}