.scroller-container {

  @include box-flex(1);

  @include display-box;
  @include box-orient(vertical);

  .scroller {

    @include box-flex(1);

    position: relative;

    .scroller-inner {
      position: absolute;
      -webkit-overflow-scrolling: touch;
      overflow-y: scroll;

      height: 100%;
      width: 100%;
    }
  }
}
